@*Inherited layout for Razor Pages*@

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=content-width" />
    <title>Like Amazon</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m1-2">Like Amazon</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>

</html>