<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*bootstrap in the shared layout*@
    <header class="bg-info text-center p-3">
        <h4>Welcome to our library!</h4>
    </header>
    <header id="blah" class="bg-dark text-white text-center">
        <h1>Like Amazon:</h1>
        <vc:navigation-menu />
    </header>
    <div>
        @RenderBody()
    </div>

</body>
</html>
