@{
    ViewData["Title"] = "Knockoff Amazon";
}

@model BookListViewModel

@*Header for our home page as well as the for each to loop through and display the different books and their info with bootstrap styling to separate out the different books*@

@*Switch up to display partial views*@
<div class="text-center">
    @foreach (var x in Model.Books)
    {
        <partial name="BookSummary" model="x" />
    }

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-url-category="@Model.Category"
         class="btn-group-sm m-1"></div>
</div>



   